<h3>Currently</h3>
&nbsp;
<p>Hello. I'm a full stack developer at <a href="//mochaleaf.com">MochaLeaf, Inc</a> in San Francisco. In addition to my full time job, I'm working on building <a href="//collegedesis.com">a community</a> of South Asian student organizations.</p>

<h3>In the Past</h3>
&nbsp;
<p>I used to be a professional tennis instructor and high school coach, but I've also worked as a market researcher and in catering services.</p>

<h2>Education</h2>
&nbsp;
<p>
  My educational background includes an <a href="//devbootcamp.com">intensive crash course</a> in software development,
a degree in Finance from <a href="//uww.edu">Wisconsin</a>,
and <a href="//maharishischooliowa.org/">consciousness-based education</a> in Iowa.
</p>

<h3>Contact</h3>
&nbsp;
<p>The best place to get in touch with me is through <a href="//twitter.com/mehulkar">twitter</a>.</p>
<p>I also <a href="/posts">blog</a> sometimes.</p>