<% content_for :title, "Home" %>
<h3>Currently</h3>
<p>
  Hello. I'm a full stack web developer at <a href="//mochaleaf.com">MochaLeaf</a> in San Francisco. In addition to my job, I'm building <a href="//collegedesis.com">a community</a> of South Asian student organizations.
</p>

<h3>In the Past</h3>
<p>
  I used to be a professional tennis instructor and high school coach, but I've also worked as <a href="//uww.edu/wisc/">a market researcher</a> and in catering services.
</p>

<h2>Education</h2>
<p>
  I've been through an <a href="//devbootcamp.com">intensive crash course</a> in software development,
a degree in Finance from the University of Wisconsin-Whitewater,
and <a href="//maharishischooliowa.org/">consciousness-based education</a> in Iowa.
</p>

<h3>Contact</h3>
<p>The best place to get in touch with me is through <a href="//twitter.com/mehulkar">twitter</a>.</p>
<p>I also <a href="/posts">blog</a> sometimes.</p>