//vendor
@import 'normalize';
@import 'font-awesome';

// variables
@import 'variables';

@import 'layout';
@import 'flex';

// page
@import 'header';
@import 'content';
@import 'post';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-size: 16px;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  min-width: 400px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin-bottom: 1em;
}

.h__underlined {
  border-bottom: solid 1px $underlined-color;
  padding-bottom: 3px;
  margin-bottom: 1em;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em;                      }
h3 { font-size: 1.3em; margin-bottom: 0;    }

p  { margin: 1em 0; }

a, a:visited, a:hover {
  color: #666;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-bottom: -80px;
  padding-top: 2em;
  padding-left: 1em;
}

.resume-section {
  width: 50%;
  padding: 0 1em;
  margin-bottom: 1em;
}

@import 'responsive';
