@import 'bourbon';
@import 'neat';

#content {
  .post-group {
    margin-bottom: 32pt;
    h3 {
      padding-left: 4pt;
      margin-bottom: 8pt;
    }
    ul {
      margin-left: 0;
      list-style-type: none;
      margin-bottom: 2em;
      li {
        @include display(flex);
        a, a:visited, a:hover {
          @include flex(1);
          color: #666;
          text-decoration: none;
        }
        list-style: none;
        padding: 4pt;
        margin: 0;
        line-height: 1.75em;
        a { text-transform: capitalize; }
        &:hover {
          background-color: rgba(9,116,217,0.1);
        }
        span {
          &.categories {
            color: #ccc;
            @include flex(1);
          }
          &.title { @include flex(4); }
          &.date { color: #ccc; }
        }
      }
    }
  }
}
