@import 'variables';

body main #content {
  flex: 1;
  max-width: 30em;

  .content-inside {

    img { max-width: 100%; }

    > p, article > p, ul, ol {
      font-size: 1em;
      line-height: 1.5em;
    }

    ul, ol {
      margin-left: 3em;
      li {
        margin-right: 2em;
        margin-bottom: 0.5em;
      }
    }
  }

  a {
    color: $base-color;
    text-decoration: none;
    &:hover, &:focus {
      color: $link-hover-color;
    }
  }
}
