.fx-wrapper {
  display: flex;
  align-items: baseline;

  &.fx-items-center { align-items: center; }
  &.fx-items-end { align-items: flex-end; }
  &.fx-items-start { align-items: flex-start; }
  &.fx-items-stretch { align-items: stretch; }

  &.fx-direction-column { flex-direction: column; }

  &.fx-justify-center { justify-content: center; }

  &.fx-wrap { flex-wrap: wrap; }

  // children
  .fx-one { flex: 1; }
  .fx-two { flex: 2; }
  .fx-three { flex: 3; }
}
