@import 'bourbon';
@import 'neat';

header, #content {
  padding-top: 3em;
}

header {
  $color: #fff;
  $right-align-padding: 2pt 8pt;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  .header-inner {
    position: absolute;
    bottom: 1em;
    left: 4em;
  }

  padding-right: 1em;
  padding-left: 4em;
  background-color: #39c;
  .header-content {
    max-width: 512pt;
    margin: 0 auto 2.5em;
    text-align: center;
    font-family: 'Poiret One', sans-serif;

    @include display(flex);
    @include align-items(center);
    img {
      margin-right: 8pt;
      border-radius: 50%;
    }
    h1 {
      font-weight: 100;
      font-size: 2em;
      margin-bottom: 0;
      a {
        color: #fff;
      }
    }
  }
  .fa {
    &:hover {
      color: $color;
    }
  }

  nav {
    margin-left: auto;
    margin-bottom: 40px;
    text-align: right;
    li {
      list-style: none;
      border-bottom: solid 1px $color;
      a {
        padding: $right-align-padding;
        width: 100%;
        display: block;
        color: $color;
        &:visited {
          color: $color;
        }
      }
    }
  }

  section.notes {
    font-size: 0.8em;
    margin-bottom: 1em;
    overflow: hidden;
    text-align: right;
    &.contact {
      a {
        margin-right: 5px;
        &:last-child { margin-right: 0; }
      }
    }
    h3 {
      font-size: 1em;
      background-color: $color;
      padding: $right-align-padding;
      margin-bottom: 8pt;
      color: #fff;
      font-weight: 100;
    }

    p { line-height: normal; }
  }
  li {
    list-style-type: none;
    margin-bottom: 2px;
  }
}
