@import 'bourbon';
@import 'neat';

header, #content {
  padding-top: 3rem;
}

header {
  min-width: 300px;
  background-color: #f0f0f0;
  padding-right: 2rem;
  padding-left: 4rem;
  background-color: #FAFAFA;
  .header-content {
    max-width: 512pt;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poiret One', sans-serif;

    @include display(flex);
    img {
      border-radius: 50%;
      margin-right: 8pt;
    }
    h1 {
      @include flex(1);
      text-align: left;
      font-weight: 100;
      font-size: 2rem;
      line-height: 2rem;
      position: relative;
      top: 4pt;
    }
  }

  $color: #0074D9;
  nav {
    margin-left: auto;
    margin-bottom: 40px;
    text-align: right;
    li {
      list-style: none;
      border-bottom: solid 1px $color;
      a {
        padding: 2pt 8pt;
        width: 100%;
        display: block;
        color: $color;
        &:visited {
          color: $color;
        }
      }
    }
  }

  section.notes {
    font-size: 0.8rem;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: right;
    padding-top: 8pt;
    h3 {
      background-color: #39c;
      border-radius: 5pt;
      padding: 0 5pt;
      margin-bottom: 8pt;
      color: #fff;
      font-weight: 100;
    }
    padding: 4pt;
    p { line-height: normal; }
  }
  img {
    margin-bottom: 10px;
    border-radius: 50%;
  }
  li {
    list-style-type: none;
    margin-bottom: 2px;
  }
  #listening, #reading li {
    max-width: 150px;
    display: inline-block;
  }
  #listening .artist {
    color: #333;
    font-weight: 600;
  }

  #reading li {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}
