@import 'bourbon';
@import 'neat';

header, #content {
  padding-top: 3rem;
}

header {
  min-width: 300px;
  padding-right: 1rem;
  padding-left: 4rem;
  background-color: #FAFAFA;
  .header-content {
    max-width: 512pt;
    margin: 0 auto 2.5rem;
    text-align: center;
    font-family: 'Poiret One', sans-serif;

    @include display(flex);
    @include align-items(center);
    img {
      margin-right: 8pt;
      border-radius: 50%;
    }
    h1 {
      font-weight: 100;
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
  .fa {
    &:hover {
      color: #39c;
    }
  }

  $color: #39c;
  $right-align-padding: 2pt 8pt;
  nav {
    margin-left: auto;
    margin-bottom: 40px;
    text-align: right;
    li {
      list-style: none;
      border-bottom: solid 1px $color;
      a {
        padding: $right-align-padding;
        width: 100%;
        display: block;
        color: $color;
        &:visited {
          color: $color;
        }
      }
    }
  }

  section.notes {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-align: right;
    &.contact {
      a {
        margin-right: 5px;
        &:last-child { margin-right: 0; }
      }
    }
    h3 {
      font-size: 1rem;
      background-color: $color;
      padding: $right-align-padding;
      margin-bottom: 8pt;
      color: #fff;
      font-weight: 100;
    }

    p { line-height: normal; }
  }
  li {
    list-style-type: none;
    margin-bottom: 2px;
  }
  #listening, #reading li {
    max-width: 150px;
    display: inline-block;
  }
  #listening .artist {
    color: #333;
    font-weight: 600;
  }

  #reading li {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}
