@import 'variables';

spacer { flex: 1; }

body {
  header {
    width: $sidebar-width;
  }
  main {
    margin-left: $sidebar-width;
    #content {
      flex: 1;
      max-width: $main-width;
    }
    footer {}
  }
}
