/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 24 px;
  min-width: 400px;
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: "PT Sans", sans-serif;
  margin-bottom: 10px;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; margin-bottom: 0; }

pre { margin-bottom: 15px; }

p {
  line-height: 30px;
  margin-bottom: 20px;
}

.left {
  float: left;
  max-width: 150px;
  margin-right: 10px;
  font-size: 0.7rem;
  margin-bottom: 10px;
  overflow: hidden;
}

.left section {
  margin-bottom: 15px;
}

.left img {
  margin-bottom: 10px;
}

.left li {
  list-style-type: none;
  margin-bottom: 2px;
}

a, a:visited, a:hover {
  color: #666;
}

#page {
  margin: 20px auto 0;
  max-width: 768px;
}

#header, #footer {
  padding: 10px;
  text-align: center;
}

#header {
  font-family: 'Poiret One', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  background-color: #eee;
  border: solid 3px #ccc;
  padding: 10px 0 10px;
}

#header a {
  text-decoration: none;
}

#content, #footer {
  margin-left: 150px;
}

#content {
  max-width: 500px;
  min-height: 410px;
  margin-bottom: 50px;
  border-left: dotted 3px #ccc;
  padding-left: 30px;
  text-align: left;
}

#content header {
  border-bottom: solid 1px #eee;
}

#content header h1 {
  margin-bottom: 0.2em;
}

#content header h2,
#content header h3 {
  color: #ccc;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0.5em;
}

#content header h3 {
  font-size: 12px;
}

#content hr {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

#content blockquote {
  color: #777;
  border-left: #ccc solid 2px;
  padding-left: 20px;
  padding-right: 30px;
}

/* Using !important because twitter
  converts blockquote to iframe and
  applies inline CSS
 */
#content iframe.twitter-tweet {
  margin-bottom: 20px !important;
}

#content ol li, #content ul li {
  margin: 10px 0 0 20px;
  padding-left: 10px;
}

#content ol li p, #content ul li p {
  line-height: 24px;
}

#footer { color: #999; }

#footer nav {
  text-align: left;
}

#footer nav li {
  display: inline-block;
}

#footer nav li:after {
  content: "    /";
}
/* Responsive */

/* iPhone < 5 */
/*@media screen and (device-aspect-ratio: 2 / 3),*/
 /*iPhone 5 */
/*@media screen and (device-aspect-ratio: 3 / 4),*/
/* iPad 5 */
@media screen and (device-aspect-ratio: 40 / 71) {
  #page, #content {
    max-width: 90%;
  }
}

@media screen and (max-device-width: 480px) {
  * {
    margin: 0;
    border: 0;
    padding: 0;
  }

  body {
    -webkit-text-size-adjust: none;
  }
  .left {
    width: 100%;
    max-width: none;
  }

  .left > * {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }

  #content, #footer {
    clear:both;
    margin-left: 0;
  }
}

#listening, #reading li {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#reading li {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 5px;
  margin-bottom: 5px;
}

#listening:hover, #reading li:hover {
  overflow: visible;
  max-width: none;
}