body main #content article {
  a { font-weight: 500; }
  h3 { margin-bottom: 0.5em; }

  hr {
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
  }

  h2 {
    border-bottom: solid 1px #EEE;
    margin-bottom: 1em;
  }

  pre, code {
    line-height: 1.125rem;
    font-size: 0.9rem;
  }

  p, li {
    code {
      border-radius: 5px;
      background: #f8f8f8;
      padding: 3px 4px;
    }
  }

  li > ul {
    margin-top: 1rem;
  }

  pre {
    code {
      border: none;
      display: block;
      padding: 1em;
    }

    &.terminal {
      border: 1px solid #000;
      background-color: #333;
      color: #FFF;
      code { background-color: #333; }
    }
  }

  ol, ul, p, pre {
    margin-top: 0;
    margin-bottom: 1.5em;
  }

  /* Using !important because twitter
    converts blockquote to iframe and
    applies inline CSS
  */
  iframe.twitter-tweet {
    margin-bottom: 20px !important;
  }

  blockquote {
    padding-left: 3rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    p {
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
      font-family: 'Indie Flower', cursive;
      &:last-child { margin-bottom: 0; }
      code {
        font-size: 0.9rem;
      }
    }
  }
}
