.post {
  header {
    border-bottom: solid 1px #eee;
    h1 { margin-bottom: 0.2em; }
    h3 { font-size: 12px; }
    h2, h3 {
      color: #ccc;
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 0.5em;
    }
  }

  article {
    font-size: 1rem;
    margin-bottom: 32pt;
    pre {
      code {
        border: none;
        display: block;
        padding: 10px 15px;
        border-radius: 3px 15px 3px 15px;
        font-size: 0.8rem;
      }
      &.terminal {
        border: 1px solid #000;
        background-color: #333;
        color: #FFF;
        code { background-color: #333; }
      }
    }
    ol, ul, p, h3{
      line-height: 1.5rem;
      margin-bottom: 16pt;
    }
    ul, ol {
      margin-left: 1.35em;
      margin-left: 16pt;
      li {
        margin-top: 8pt;
        margin-left: 16pt;
        line-height: 1.5rem;
        p { line-height: 24px; }
      }
    }

    img { max-width: 100%; }
      /* Using !important because twitter
      converts blockquote to iframe and
      applies inline CSS
     */
    iframe.twitter-tweet {
      margin-bottom: 20px !important;
    }

    hr {
      border-top: 1px solid #ccc;
      margin-bottom: 20px;
    }
    blockquote {
      color: #777;
      border-left: #ccc solid 2px;
      padding-left: 20px;
      padding-right: 30px;
    }
  }
}
