#content .content-inside .post {
  max-width: 400pt;
  header {
    background: none;
    padding: 0;
    border-bottom: solid 1px #eee;
    margin-bottom: 2rem;
    h1, h2 {
      margin-bottom: 0.5rem;
    }
    h1 { font-size: 1.5rem; }
    h2 {
      color: #999;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  article {
    margin-bottom: 32pt;
    h2 {
      font-size: 1.2rem;
      border-bottom: solid 1px #333;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }

    p code, pre code, li code {
      font-size: 0.8rem;
    }

    p, li {
      code {
        border-radius: 5px;
        color: red;
        background: #eee;
        padding: 3px 4px;
      }
    }
    pre {
      code {
        border: none;
        display: block;
        padding: 10px 15px;
        border-radius: 3px 15px 3px 15px;
      }

      &.terminal {
        border: 1px solid #000;
        background-color: #333;
        color: #FFF;
        code { background-color: #333; }
      }
    }

    ol, ul, p, pre {
      margin-top: 0;
      margin-bottom: 1.25rem;
    }

    ol, ul {
      font-size: 1rem;
    }

    ul, ol {
      margin-left: 3em;
      li {
        margin-right: 2rem;
        margin-bottom: 0.5rem;
      }
    }

    img { max-width: 100%; }

    /* Using !important because twitter
      converts blockquote to iframe and
      applies inline CSS
    */
    iframe.twitter-tweet {
      margin-bottom: 20px !important;
    }

    hr {
      border-top: 1px solid #ccc;
      margin-bottom: 20px;
    }

    blockquote {
      color: #777;
      border-left: #ccc solid 2px;
      padding-left: 1rem;
      padding-right: 5rem;
      margin-left: 2rem;
      p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}
