body main #content article h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: var(--paragraph-mb);
}

body main #content article h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

body main #content article h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

body main #content article hr {
  border-top: 0.5px solid #fff;
  margin: 2.5rem auto;
  width: 50%;
}

body main #content article aside {
  border: solid 1px gold;
  border-radius: 0.25rem;
  background: #ffa;
  color: var(--code-text-color);
  padding: 1rem;
  margin: 0 2em var(--paragraph-mb);
}

body main #content article pre,
body main #content article code {
  line-height: 1.125rem;
  font-size: 0.9em;
}

body main #content article a code {
  color: var(--base-color);
}

body main #content article pre code {
  display: block;
  overflow-x: scroll;
}

body main #content article pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #fff;
}

body main #content article pre.terminalcode {
  background-color: #333;
}

body main #content article li > ul,
body main #content article li > ol {
  margin-top: 0.5rem;
}

body main #content article ol,
body main #content article ul,
body main #content article p,
body main #content article pre {
  margin-top: 0;
  margin-bottom: var(--paragraph-mb);
}

/* Using !important because twitter
  converts blockquote to iframe and
  applies inline CSS
*/
body main #content article iframe.twitter-tweet {
  margin-bottom: 20px !important;
}

body main #content article blockquote {
  padding: 1rem 1.5rem 1rem;
  margin-bottom: var(--paragraph-mb);
  border-left: solid 4px var(--blue-1);
  background-color: var(--blue-2);
  color: var(--code-text-color);
  border-radius: 0 8px 8px 0;
  box-shadow: 3px 3px 0px aliceblue;
}

body main #content article blockquote p {
  line-height: var(--paragraph-mb);
  margin-bottom: 0.5rem;
}

body main #content article blockquote p:last-child {
  margin-bottom: 0;
}

body main #content article blockquote p code {
  font-size: 0.9em;
}

body main #content article img {
  margin: 0 auto 1rem;
  display: block;
  border: solid 1px var(--image-border-color);
  border-radius: 2%;
}

body main #content article img.book-cover {
  border-radius: 3%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body main #content article table tr:nth-child(odd) {
  background-color: #fafafa;
}

body main #content article table td,
body main #content article table th {
  padding: 5px 10px;
  white-space: nowrap;
}

body main #content article table {
  border-collapse: collapse;
  margin-bottom: var(--paragraph-mb);
  display: block;
  overflow-x: scroll;
}

body main #content article table tr {
  border: solid 1px #eee;
}
