@import 'bourbon';
@import 'neat';

/* Responsive */

/* iPhone < 5 */
/*@media screen and (device-aspect-ratio: 2 / 3),*/
 /*iPhone 5 */
/*@media screen and (device-aspect-ratio: 3 / 4),*/
/* iPad 5 */
@media screen and (device-aspect-ratio: 40 / 71) {
  #page, #posts {
    max-width: 90%;
  }
}

@media screen and (max-device-width: 480px) {
  * {
    margin: 0;
    border: 0;
    padding: 0;
  }

  body {
    -webkit-text-size-adjust: none;
  }
  .left {
    @include display(flex);
    width: 100%;
    max-width: none;
    font-size: 1rem;
    img { display: none; }
    section {
      @include flex(1);
    }

    > * {
      display: inline-block;
      float: left;
      margin-right: 10px;
    }
  }

  #posts, #footer, #content {
    clear:both;
    margin-left: 0;
  }
  #content {
    border-left: none;
    padding-left: 0;
    padding: 32pt;
    p {
      line-height: 1.6em;
      letter-spacing: 0.5pt;
    }
  }
}
