@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      font-size: 3em;
      line-height: 3em;
      main {
        margin-left: 0;
        padding: 2em 1em;
        #content p {
          font-size: 1em;
        }

        #content {
          // actual post
          .post {
            max-width: none;
            .post-header {
              h1 { line-height: 1em; }
              h2 {
                line-height: 1em;
              }
            }
          }
          // list of posts on /blogs page
          .post-group ul.posts {
            li {
              display: block;
              border-bottom: solid 1px #ccc;
              margin-bottom: 2em;
              span { display: block; }
            }
          }

          .resume-section {
            width: 100%;
          }
        }
      }

      header {
        padding: 0.5em 1em;
        width: 100%;
        nav {
          max-width: 100%;
        }
        .header-content, nav, .notes {
          margin-bottom: 0;
        }

        .header-content {
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
}
