    </div>
      <div id="footer">
        <nav>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </nav>
        <script>
          document.addEventListener('DOMContentLoaded',function() {
            document.getElementById('year').innerHTML = (new Date).getFullYear();
          });
        </script>
         &copy; <span id='year'></span>
      </div>
    </div>
  </body>
</html>