    </div>
      <div id="footer">
        <script>
          document.addEventListener('DOMContentLoaded',function() {
            document.getElementById('year').innerHTML = (new Date).getFullYear();
          });
        </script>
         &copy; <span id='year'></span>
      </div>
    </div>
  </body>
</html>