    </div>
      <div id="footer">
        Mehul Kar, 2013 &copy;
        <br>
        <a href='http://twitter.com/mehulkar' class='twitter'>
          <img src='images/twitter.png' class='twitter' width=50 height=50 />
        </a>
      </div>
    </div>
  </body>
</html>