<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mehul Kar | <%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="Mehul Kar">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans:700">
    <script src='javascripts/ga.js'></script>

  </head>
  <body>
    <div id="page">
      <div id="header"><a href='/'>Mehul Kar</a></div>
      <img class='left' src="https://gravatar.com/avatar/57c2dff3cf681f22f9519a18bafc7bce">
      <div id="content">