<% include header %>

<p>
  You're probably here because you want to know a little bit about me. That's good. Here are five things:
</p>
<ol>
  <li>I currently earn a living <strong>writing code</strong>, but in the past I've worked as a market researcher, a tennis instructor, and even a tree pruner.</li>
  <li>In college I started (and sold) a company that generated cash by renting appliances to facilitate <strong>international microloans</strong> to Third World entrepreneurs.</li>
  <li>I have a <strong>degree in Finance</strong>, but I would stumble over explaining how financial markets work.</li>
  <li>I live in the heart of Silicon Valley, but I'm more interested in how technology is used in the developing world.</li>
  <li>Oh, and I graduated from <strong>Maharishi School of the Age of Enlightenment.</strong></li>
</ol>

<% include footer %>