<% wrap_layout :layout do %>
  <div class='mb3'>
    <%= link_to '&larr; Back', home_path %>
  </div>

  <div class='pill dib mr1 mb4 f2 white br1 pa2'>
    <%= current_page.metadata[:page]['title'] %>
  </div>
  <%= yield %>
<% end %>
