<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Mehul Kar" %></title>

    <%= stylesheet_link_tag "all", "syntax" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body>
    <header>
      <div class="header-content">
        <img src="https://gravatar.com/avatar/57c2dff3cf681f22f9519a18bafc7bce?s=300">
        <h1><a href='/'>Mehul Kar</a></h1>
      </div>

      <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="//twitter.com/mehulkar/favorites">Favorites</a></li>
      </nav>

      <section class='notes contact'>
        <a href="//twitter.com/mehulkar"><i class='fa fa-twitter fa-2x' ></i></a>
        <a href="mailto:mehul.kar@gmail.com"><i class='fa fa-envelope fa-2x' ></i></a>
      </section>
    </header>

    <main class='fx-wrapper fx-direction-column'>
      <div id="content">
        <%= yield %>
      </div>

      <footer>
        &copy; <span id='year'></span>
      </footer>

    </main>
  </body>
</html>
