<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-19201650-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-19201650-1');
    </script>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name=viewport>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://gravatar.com" crossorigin>
    <link rel="preconnect" href="https://www.googlesitemanager.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Mehul Kar" %></title>
    <meta name="Description" content="<%= current_page.data.title ? "Blog post: #{current_page.data.title}" : "Mehul Kar's website" %>">
    <%= stylesheet_link_tag(
      "vendor",
      "app",
      "https://fonts.googleapis.com/css?family=Indie+Flower|Libre+Baskerville&display=swap"
    )%>
    <script>
      document.addEventListener('DOMContentLoaded',function() {
        document.getElementById('year').innerHTML = (new Date).getFullYear();
      });
    </script>
  </head>

  <body>
    <header class='pt3 pb1'>
      <div class='header-content flex items-center justify-center mb3'>
        <img alt="Picture of Mehul Kar" class='mr3' width='40' height='40' src="https://gravatar.com/avatar/57c2dff3cf681f22f9519a18bafc7bce?s=80">
        <h1 class='ma0 f2 fw1 white'>
          <a class='white' href='/'>Mehul Kar</a>
        </h1>
      </div>

      <nav class='center mw6 mb3 flex justify-around'>
        <li><a class='white link' href="/">Home</a></li>
        <li><a class='white link' href="/about">About</a></li>
        <li><a class='white link' href="/resume">Resume</a></li>
        <li><a class='white link' href="//twitter.com/mehulkar/favorites">Favorites</a></li>
      </nav>

      <section class='mb3'>
        <a class='white f7 mr1' href="//twitter.com/mehulkar">
          <img alt="Twitter logo" src="/images/twitter.svg" width="24" height="24">
        </a>
        <a class='white f7' href="mailto:mehul.kar@gmail.com">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg width="27.375" height="22.05" viewBox="0 0 73 49" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect stroke="#979797" stroke-width="2" fill="#FFFFFF" x="1" y="1" width="71" height="47" rx="3"></rect>
                  <polyline stroke="#979797" stroke-width="2" points="1.59852417 0.735062101 36.5 24.5 71.5137355 0.735062101"></polyline>
              </g>
          </svg>
        </a>
      </section>

      <section class='wave-container flex justify-center'>
        <wave>
          <bar class='bar1'></bar>
          <bar class='bar2'></bar>
          <bar class='bar3'></bar>
          <bar class='bar4'></bar>
          <bar class='bar5'></bar>
        </wave>
      </section>
    </header>

    <main class='flex flex-column mw7'>
      <div id="content" class='pa3'>
        <%= yield %>
      </div>

      <footer class='silver f6 tc pa2 mb2'>
        <div>&copy; <span id='year'></span></div>
      </footer>
    </main>
  </body>
</html>
