<% wrap_layout :layout do %>
  <div class="post">
    <div class='post-header'>
      <h2><%= formatted_date(created_at) %></h2>
      <h1><%= current_page.metadata[:page]["title"]%></h1>
      <h2>
        <%= partial('partials/categories',
          locals: {
            categories: current_page.metadata[:page]["categories"].split(',')
          }
        )%>
      </h2>
    </div>
    <article>
      <%= yield %>
    </article>

    <div class='post-footer'>
      <p>Want to talk about this blag? <a href='mailto:mehul.kar@gmail.com?subject=I have an opinion!'> Email me</a> or send me a toot <a href='//twitter.com/mehulkar', target='_blank'>@mehulkar</a>!</p>
    </div>
  </div>
<% end %>
