<ul class="posts">
  <% posts.sort {|x,y| Date.parse(y[:date]) <=> Date.parse(x[:date]) }.each do |post| %>
    <li>
      <span class="categories"><%= post[:categories] %></span>
      <span class="title"><%= link_to post[:title], post[:link] %></span>
      <span class="date"><%=post[:date]%></span>
    </li>
  <% end %>
</ul>
