<ul class="posts">
  <% posts.each do |post| %>
    <li>
      <div class='meta'>
        <span class="date">
          <%= formatted_date(post[:date]) %>
        </span>
      </div>
      <div class="title">
        <%= link_to post[:title], post[:link] %>
      </div>

      <div class='meta'>
        <span class="categories">
          <%= partial('partials/categories',
            locals: {
              categories: post[:categories].split(',')
            }
          )%>
        </span>
      </div>
    </li>
  <% end %>
</ul>
