@import url(//fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 24 px;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }

h1, h2, h3, h4, h5 {
  font-family: "PT Sans", sans-serif;
  margin-bottom: 10px;
}


p, pre { margin-bottom: 15px; }

p {
  line-height: 30px;
  margin-bottom: 30px;
}

a, a:visited, a:hover {
  color: #666;
  text-decoration: none;
}

#page {
  margin: 200px auto 0;
  max-width: 768px;
  min-width: 400px;
  padding: 0 20px;
}

#header, #content, #footer {
  padding: 10px;
  text-align: center;
}

#header {
  font-family: 'Poiret One', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  background-color: #eee;
  box-shadow: 0 3px 5px -2px #ccc;
  padding: 10px 0 10px;
}

#content {
  padding: 15px 0 30px;
  max-width: 500px;
  margin: 0 auto;
}

#footer {
  border-top: 1px #666666 solid;
}

hr {
  width: 75%;
  margin: 0 auto 30px;
  border-top: 1px solid #666;
  border-bottom: 0;
}

ul {
  list-style-type: none;
  margin: 20px auto;
}
ul li {
  margin-bottom: 10px;
}


#content section {
  margin-bottom: 20px;
}

/*
* Media Queries
*
*
*/
/* iPhone < 5 */
/* iPhone 5 */
/* iPad 5 */
@media screen and (device-aspect-ratio: 2 / 3),
@media screen and (device-aspect-ratio: 3 / 4),
@media screen and (device-aspect-ratio: 40 / 71) {
  #page {
    max-width: 90%;
  }

  #content {
    max-width: 90%;
  }
}

@media screen and (max-device-width: 480px) {
  * {
    margin: 0;
    border: 0;
    padding: 0;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  div {
    clear: both !important;
    float: none !important;
  }
}
