---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Mehul Kar's blog",
    "subtitle": "Writing about frontend programming, mostly.",
    "url": "https://mehulkar.com/",
    "feedUrl": "https://www.mehulkar.com/feed.xml",
    "author": {
      "name": "Mehul Kar",
      "email": "mehul.kar@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.rssFeedPosts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>

  {%- for post in collections.rssFeedPosts %}
    {# post url is a relative link, we:
      // pass into `absoluteUrl` filter which attaches `metadata.url` as the origin
      // and also add a rss=true query param
    #}
    {% set absolutePostUrl %}{{ post.url | absoluteUrl(metadata.url) | buildForRSS }}{% endset %}

    <entry>
      <g>{{post.url}}</g>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
        <p>Thanks for reading this post via RSS!</p>
      </content>
    </entry>
  {%- endfor %}
</feed>
