---
layout: layout.njk
eleventyExcludeFromCollections: true
---

<div class="home">
  <aside>
    <h2>In Short</h2>
    <ul class="small">
      <li>
        <p>👋🏾 I am a software engineer working at <a href="https://vercel.com">Vercel</a>.
          Before that, I worked at Apple</a>.
        </p>
      </li>

      <li>
        🎬 <a href="/blog/category/recently-watched">Recently Watched</a>
      </li>

      <li>
        📚 <a href="/blog/category/recently-read">Recently Read</a>
      </li>

      <li>
        📄 <a href="/resume">Resume</a>
      </li>
    </ul>
  </aside>

  <section class="posts">
    <h2 class="mb3">Writing </h2>
    {% set posts = collections.home %}
    {% from 'partials/_by-year.njk' import render %}
    {{ render(posts) }}
  </section>
</div>

<script>
  function setTimeElement(el, ts) {
    el.setAttribute('datetime', ts);
    el.innerText = daysAgo(ts);
  }

  function daysAgo(timestamp) {
    const daysAgo = Math.round((new Date() - new Date(timestamp)) / 1000 / 60 / 60 / 24);
    return new Intl.RelativeTimeFormat('en', { numeric: 'auto' }).format(daysAgo * -1, 'days')
  }
</script>
