---
title: Three Musics
categories: music
---
<p>
  Once upon a time, I started a weekly newsletter curating a list of three musics.
  I wanted to start 1:1 email conversations around music that I was currently liking
  and discover new genres from other people.
</p>

{% set posts = collections.byYear | category("three-musics") %}
{% from 'partials/_by-year.njk' import render %}
{{ render(posts) }}
