---
title: Three Musics
categories: music
---
<p>
  Once upon a time, I started a weekly newsletter curating a list of three musics.
  I wanted to start 1:1 email conversations around music that I was currently liking
  and discover new genres from other people.
</p>

<%= partial 'partials/by-year', locals: { grouped_posts: posts_for_category('three-musics') } %>
