{% macro render(posts) %}
    {%- for year in posts -%}
        <div class='post-group mb4 mt0 ml0'>
            <h2 class="post-group--title mb3 fw2 bb">
                {{year.name}}
            </h2>

            <ul class='post-list ml0 pl0'>
                {% for post in year.posts %}
                    <li class='post-link'>
                        <a href="{{post.url}}">{{post.data.title}}</a>
                        <span class='date mr3'> - {{post.data.date | formatDate }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {%- endfor -%}
{% endmacro %}
