<% class_list = 'pill dib mb3 br1 ph3 pv1 ttu' %>

<% current_categories.each do |category| %>
  <% if path_exists?(category) %>
    <%= link_to category, path_for(category), class: "#{class_list} pill--link" %>
  <% else %>
    <span class="<%= class_list %>"><%= category %></span>
  <% end %>
<% end %>
