---
layout: layout.njk
---

<script type="module">
  const pluralRules = new Intl.PluralRules('en-US');

  function getPluralForm(count) {
    return pluralRules.select(count);
  }

  function getWords(str) {
    return str.toLowerCase() // Normalize the string to lowercase (optional)
      .trim() // Trim leading and trailing whitespace
      .split(/\s+/) // Use a regular expression to split the string into words
      .filter(word => word.length > 0);
}


  function pluralize(count) {
    const pluralForm = getPluralForm(count)
    return pluralForm === 'zero' ?
      `${count} views` :
      `${count} view${count !== 1 ? 's' : ''}`;
  }

  const vcEl = document.getElementById('view-count');
  {# vcEl.innerText = '~'; #}
  const addRes = await fetch('/api/add-view');
  const { count } = await addRes.json()
  if (String(count).match(/\d+/)) {
    vcEl.innerText = pluralize(count);
  } else {
    console.error('View count is not numeric:', count);
    vcEl.innerText = '🙁 views';
  }

  const wcEl = document.getElementById('word-count');
  const article = document.getElementById('article-content');
  const words = getWords(article.innerText);
  const wc = words.length;
  const wcPluralForm = getPluralForm(wc)
  wcEl.innerText = wcPluralForm === 'zero' ? 'No words' : `${wc} words`
</script>

<div class='post bb b--black-10 mb2'>
  <article class='mb3 mw7 center'>
    <header class='bb b--black-10 mv3'>
      <h3 class='f5 fw2 mb1'>{{page.date | fullDate }}</h2>
      <h1 class='fw3 mb1 mt0 post--title'>{{title}}</h1>
      <section class="mb2">
        {% for tag in tags  %}
          {% tagLink tag %}
        {% endfor %}
      </section>
      <section id="wm-likes" class="wm-likes wm-hidden flex">
        <ul class="mb0"></ul>
        <p id="wm-like-count" class="ml2 mb0"></p>
      </section>
      <section class="stats f5 fw2 silver">
        <p>
          <span id="view-count">~ views</span>
          | <span id="word-count">~ words</span>
        </p>
    </header>
    <section id="article-content">
      {{content | safe }}
    </section>
  </article>

  <p class='f6 bg-light-yellow pa3 black-80 br2 ba b--yellow mw7 center'>
    If you like this post, please <a class='black-80 underline' href="{% tweetURL %}" target='_blank'>share it on Twitter</a>
    and/or subscribe to my <a href="/feed.xml">RSS feed</a>. Or don't, that's also ok.
  </p>
</div>

{# TODO: looks bad when there are no replies, likes get centered #}
<aside id="webmentions" class="webmentions mb3">
  <section id="wm-replies" class="wm-replies wm-hidden mw7 center">
    <h2>Replies <span id="wm-reply-count"></span></h2>
    <ul></ul>
  </section>

  <template id="wm-like">
    <li>
      <a href="" id="wm-reply-author-url">
        <img alt="" id="wm-reply-author-photo" class="wm-reply-author-photo" width="25" height="auto" src="">
      </a>
    </li>
  </template>

  <template id="wm-reply">
    <li>
      <div class="flex items-end mb2 bb pb2 b--black-10">
        <img alt="" id="wm-reply-author-photo" class="wm-reply-author-photo mr1" width="40" height="auto" src="">
        <span id="wm-reply-author" class="wm-reply-author"></span>
        <span id="wm-reply-date"></span>
      </div>
      <div id="wm-reply-text"></div>
      <span id="wm-reply-link" class="wm-reply-link"></span>
    </li>
  </template>
</aside>

<script src={{"/javascript/webmentions.js" | url }}></script>
<script>
  window.fetchWebMentions("{{page.url}}");
</script>
