---
layout: layout.njk
---

<div class='post bb b--black-10'>
  <div class='bb b--black-10 mv3'>
    <h3 class='f5 fw2 mb1'>{{page.date | fullDate }}</h2>
    <h1 class='fw3 mb2 mt0'>{{title}}</h1>

    {% for tag in tags %}
      {{tag | tagLink | safe }}
    {% endfor %}
  </div>

  <article class='mb3'>
    {{content | safe }}
  </article>

  <p class='f6 bg-light-yellow pa3 black-80 br2 ba b--yellow'>
    Want to talk about this post? <a class='black-80 underline' href='mailto:mehul.kar@gmail.com?subject=I have an opinion!'>
    Email me</a> or send me a toot <a class='black-80 underline' href='//twitter.com/mehulkar' target='_blank'> @mehulkar</a>.
  </p>
</div>
