.archives
  %h2 Last 5 Posts
  %ul
    - @posts[0..4].each do |post|
      %li
        = link_to post.title, post

%p
  I'm sorry if you're viewing this in any browser other than the latest Chrome and on any other machine than my MacBook Pro. But otherwise it should look fine. You're welcome to make <a href="http://github.com/mehulkar/mehulkar.com"> pull requests </a> to make this easier to read. 