= render partial: 'archives', collection: @posts
%section.posts
  - @posts.each do |post|
    %article
      .post-title
        %h1
          = link_to post.title, post
      .post-date
        = post.created_at
      .post-body
        = @markdown.render(post.body).html_safe