<h1>All The Things I Write</h1>
<% @posts.each do |post| %>
  <div class="post-title">
    <span class="title"><%= link_to post.title, post %></span>
    <span class="date"><%= post.created_at.strftime(format='%B %e, %Y') %></span>
  </div>
<% end %>
