<div class="posts">
  <% @posts.each do |post| %>
    <div class="post-title">
      <%= link_to post.title, post, class: 'title' %>
      <div class="date"><%= post.created_at.strftime(format='%B %e, %Y') %></div>
    </div>
  <% end %>
</div>