%article.post
  .post-details
    %h3
      =@post.title
    Last updated:
    = @post.updated_at.strftime(format='%B %e, %Y')
  .post-body
    = @markdown.render(@post.body).html_safe
  .post-links
    - str = ('&larr; Back').html_safe
    = link_to str , posts_path, class: 'button'