<% content_for :title, "#{@post.formatted_title} - " %>
<article class="post">
  <div class="post-details">
    <h3><%= @post.formatted_title %></h3>
    <div class="date"><%= @post.created_at.strftime(format='%B %e, %Y') %></div>
    <div class="sub-title">Views: <%= @post.views %></div>
  </div>

  <div class="post-body">
    <%= @markdown.render(@post.body).html_safe %>
  </div>
</article>
<section class="social">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=291388287632763";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <a href="https://twitter.com/share" class="twitter-share-button" data-via="mehulkar" data-dnt="true">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <div class="fb-like" data-href=<%=@post.url %> data-send="true" data-layout="button_count" data-width="200" data-show-faces="false" data-action="recommend"></div>
</section>

<nav>
  <% if @last_post %>
    <% last_post_str = ("&larr; Previous").html_safe %>
    <%= link_to last_post_str, @last_post, class: 'button' %>
  <% end %>
  <%= link_to "All" , posts_path, class: 'button' %>
  <% if @next_post %>
    <% next_post_str = ("Next &rarr;").html_safe %>
    <%= link_to next_post_str, @next_post, class: 'button' %>
  <% end %>
</nav>

<section>
  <a href="https://twitter.com/mehulkar" class="twitter-follow-button" data-show-count="false">Follow @mehulkar</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</section>