/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'bootstrap'
*/
@import "variables.scss";
@import "posts.scss";
@import "static_pages.scss";
@import "projects.scss";


body {
	background-image:url('classy_fabric.png');
	font-family: $base-font-size;
}

#page {
	width:800px;
	margin: 0 auto;
}

#header{
	text-align:center;
	font-family: 'Poiret One', cursive;
	color:white;
	font-size:40px;
	padding:50px;
	margin-top:200px;
}