//= require_self
@import url('//fonts.googleapis.com/css?family=Poiret+One');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,300');
@import "variables.scss";
@import "posts.scss";

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

h1 { font-size: 1.5em;}
h2 { font-size: 1.4em;}
p, pre, code { margin-bottom:15px; }
a, a:visited, a:hover {
  color:#eee;
  text-decoration:none;
  &.button{@include button;}
}
img { max-width:100%; }

body {
  background-image:url('classy_fabric.png');
  @include regularfont;
}

html, body, #page {
  width:100%;
  height:100%;
  margin: 0 auto;
}

#page {
  height:100%;
  max-width: 768px;
  padding: 0 20px;
}

#header, #content, #footer {
  padding: 10px;
  text-align:center;
}

img.twitter {
  height:50px;
  width:50px;
  position:relative;
  top:10px;
}

#header{
  font-family: 'Poiret One', sans-serif;
  color:white;
  font-size:$base-font-size * 3;
  background-color:lighten(#000, 10%);
  border-bottom: 1px darken(white, 60%) solid;
  .tagline {
    @include button;
    font-size:$base-font-size * 1.5;
    position: relative;
    bottom: 8px;
    a {
      color: red;
      &:hover{ text-decoration: underline;}
    }
  }
}
hr { width: 50%; margin: 0 auto;}

ul {
  list-style-type:none;
  margin:20px auto;
  li {margin-bottom:10px;}
}

@media screen and (max-device-width: 480px) {
  * { margin: 0; border: 0; padding: 0; }
  body { -webkit-text-size-adjust: none; }
  div {
    clear: both !important;
    float: none !important;
  }
}
