/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/
@import "variables.scss";
@import "posts.scss";
@import "static_pages.scss";
@import "projects.scss";

* {margin:0;padding:0;}
h1 { font-size: 1.5em;}
body {
	color:#eee;
	background-image:url('classy_fabric.png');
	font-size: $base-font-size;
	font-family: 'Open sans';
	a, a:visited, a:hover {
		color:#eee;
		text-decoration:none;
		&.button{
			@include button;
			color:red;
		}
	}
	p {
		font-size: 16px;
		font-weight: 300;
		margin-bottom:15px;
	}
	img {
		max-width:100%;
	}
}

#page {
	width:800px;
	margin: 0 auto;
}

#header{
	text-align:center;
	font-family: 'Poiret One', sans-serif;
	color:white;
	font-size:40px;
	padding:50px;
}

.tagline {
	@include button;
	text-align:center;
	font-size:0.5em;
	display:inline;
	position:relative;
	bottom:5px;
	margin:0 25px;
}
#footer {
	margin-bottom:10px;
	border-top: solid 1px #ccc;
	padding: 10px 0;
	font-size: 14px;
	position:fixed;
	bottom:25px;
	left:50px;
}