section.posts {
  article {
    width: 500px;
    color:#dddddd;
    text-align:left;
    margin-bottom:50px;
    p {    
      font-size:16px;
      line-height:20px;
    }
    .post-title {
      margin-bottom:5px;
    }
    .post-date {
      border-bottom:dotted 1px #bbb;
      margin-bottom:10px;
    }
    .post-body {
    }
  }
}
aside.archive {
  text-align:right;
  float:right;
  padding-left:10px;
  border-left: dotted 1px #ccc;
}
// end show and index post routes

// new_post route
article.write {
  input {
    display:block;
    width:500px;
  }
  textarea {
    height:500px;
    width:500px;
  }
  [type="submit"] {
    width:100px;
  }
}
article.preview {

}