article, section, aside {
  min-width:300px;
  max-width:500px;
  float:left;
  text-align:left;
}
section.posts, article.post {
  max-width:500px;
  width:95%;
}

aside {width:17%;}

section.posts {}
article.post {
  color:#dddddd;
  margin-bottom:50px;
  div {margin-bottom:10px;}
  .post-title {
    overflow:hidden;
  }
  .post-date {border-bottom:dotted 1px #bbb;}
  .post-body {}
  .post-links {}
  ul, ol {
    list-style-position:outside;
    margin-left:1.5em;
  }
}

aside.archive {
  margin:0 20px 10px 0;
  border:1px dotted #ccc;
  padding:5px;
  ul {
    list-style-type:none;
    li {
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;
      margin-bottom:1px;
    }
  }
}
// end show and index post routes

// new_post route
article.write {
  margin: 0 auto;
  input, textarea {
    display:block;
    width:500px;
    min-height:20px;
    padding:10px;
    font-size:14px;
    margin:0 auto 10px;
    background-color:#eee;
  }
  textarea {
    height:300px;
  }
  input[type="submit"] {
    width:100px;
    @include button;
  }
}