.post-title {
  width:300px;
  margin:0 auto 20px;
  padding-bottom: 20px;
  border-bottom: dotted 1px #eee;
  h4 {
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;

  }
}

article.post {
  max-width: 500px;
  margin:0 auto;
  .post-details {
    border-bottom:dotted 1px #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
    h3 {
      font-size:$base-font-size * 2;
      margin-bottom:5px;
    }  
  }
  .post-body {
    text-align: left;
  }
  a { border-bottom: dotted 1px #eee;}
  ul, ol {
    margin: 0 auto;
  }
  ul {
    list-style-type: disc;
  }
  pre {
    font-size:0.8em;
    padding:10px;
    overflow:scroll;
    color: #444;
    background-color:#e3e3ea;
  }
}

// new_post route
article.write {
  margin: 0 auto;
  input, textarea {
    display:block;
    width:500px;
    min-height:20px;
    padding:10px;
    font-size:14px;
    margin:0 auto 10px;
    background-color:#eee;
  }
  textarea {
    height:300px;
  }
  input[type="submit"] {
    width:100px;
    @include button;
  }
}