/*
* Media Queries
*
*
*/

/* iPhone < 5 */
/* iPhone 5 */
/* iPad 5 */

@media screen and (device-aspect-ratio: 2/3) {
  #page { max-width: 90%; }
  #content {
    max-width: 90%;
    p { line-height: 48px; }
  }
}
@media screen and (device-aspect-ratio: 40/71) {
  #page { max-width: 90%; }
  #content {
    max-width: 90%;
    p { line-height: 48px; }
  }
}
@media screen and (device-aspect-ratio: 3/4) {
  #page { max-width: 90%; }
  #content {
    max-width: 90%;
    p { line-height: 48px; }
  }
}

@media screen and (max-device-width: 480px) {
  * { margin: 0; border: 0; padding: 0; }
  body { -webkit-text-size-adjust: none; }
  div {
    clear: both !important;
    float: none !important;
  }
}
