// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header-font: 'Poiret One', cursive;
$body-font: 'PT Mono', sans-serif;
$base-font-size: 12px;

@mixin button {
  background-color:#eee;
  border-radius:15px;
  padding:5px 10px;
  color:#ff0000;
  display:inline-block;
}