$heading-font: 'PT Sans', sans-serif;
$body-font: 'PT Mono', sans-serif;
$base-font-size: 1rem;
$background: #333;

@mixin button {
  background-color:#eee;
  border-radius:15px;
  padding:5px 10px;
  color: red;
  border: solid 2px red;
  display:inline-block;
  vertical-align: middle;
  font-size:$base-font-size;
  min-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin regularfont {
  font-size: $base-font-size;
  font-family: $body-font;
  color:#333;
  font-weight:300;
  line-height:(16*1.5)px;
}