<% if !(post_groups.map { |g| g[0]}.include?(Date.today.year.to_s)) %>
  <h3><%= Date.today.year%></h3>
  <p>
    I haven't written anything this year &#x2639;.
  </p>
<% end %>

<% post_groups.each do |group, posts| %>
  <div class="post-group">
    <h3><%= group %></h3>
    <ul class="posts">
      <% posts.sort {|x,y| Date.parse(y[:date]) <=> Date.parse(x[:date]) }.each do |post| %>
        <li>
          <%= link_to post[:title], post[:link] %>
          <date><%=post[:date]%></date>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
