<ul id='posts'>
  <% post_groups.each do |group, posts| %>
    <h3><%= group %></h3>
    <% posts.sort {|x,y| Date.parse(y[:date]) <=> Date.parse(x[:date]) }.each do |post| %>
      <li><date><%=post[:date]%></date> <%= link_to post[:title], post[:link] %></li>
    <% end %>
  <% end %>
</ul>