---
layout: layout.njk
eleventyExcludeFromCollections: true
---

<div class="home">
  <section class="intro">
    <p>
      👋🏾 I'm a software engineer working on <a href="https://turborepo.org">Turborepo</a> at
      <a href="https://vercel.com"><span class="vercel-icon">▲</span>Vercel</a>.
      Before that, I worked at Apple</a>.
      <span class="mobile-only">See what I've been up to <a href="#recent">recently</a>.</span>
      <a href="/resume">Resume</a>.
    </p>
  </section>

  <aside>
    <h3 id="recent">Recently</h3>
    <ul class="small">
      <li>
        {# TODO: Make this dynamic #}
        📚 Read <a target="_blank" rel="noopener noreferrer" href="https://www.goodreads.com/review/show/4794773798"><em>Vanderbilt: The Rise and Fall of an American Dynasty</em>.</a>

      <li>
        🎬 <a href="/blog/category/recently-watched">Recently Watched</a>
      </li>
    </ul>
  </aside>

  <section class="posts">
    <h2 class="mb3">Posts</h2>
    {% set posts = collections.home %}
    {% from 'partials/_by-year.njk' import render %}
    {{ render(posts) }}
  </section>
</div>

<script>
  function setTimeElement(el, ts) {
    el.setAttribute('datetime', ts);
    el.innerText = daysAgo(ts);
  }

  function daysAgo(timestamp) {
    const daysAgo = Math.round((new Date() - new Date(timestamp)) / 1000 / 60 / 60 / 24);
    return new Intl.RelativeTimeFormat('en', { numeric: 'auto' }).format(daysAgo * -1, 'days')
  }
</script>
