[<a href="/resume-print">printable one-pager</a>]
[<a href="https://linkedin.com/in/mehulkar">linkedin</a>]

<h1 class='bb b--black-10'>Skills & Experience</h1>

<section class='resume-section-wrapper fx-wrapper fx-wrap'>
  <article class='resume-section'>
    <h2>Code</h2>
    <p>I like Ruby, but I feel comfortable with Python and Javascript also. I've also dabbled with basic Hello-World-esque programs in Swift/Go/Rust.</p>
    <p>
      I feel mostly adept with language features like control flow, closures, and map/filter/reduce style functional data manipulation.
    </p>
    <p>In terms of architecture, I'm constantly learning, but I've recently started "thinking in objects" (to a much greater extent than just writing classes) and am loving it. I've formed a few opinions about object design, and so far they are serving me well.</p>
  </article>

  <article class='resume-section'>
    <h2>UI/UX</h2>
    <p>I'm comfortable with writing CSS and Javascript for browsers. Most of my experience is with Ember.js, but I've also worked briefly with Backbone and Angular.js. I've never felt the need to use CSS framework, and find them bloated, but I'd like to learn more about modern CSS architecture and patterns that have worked well; my CSS often ends up being disorganized as the project grows.</p>
    <p>I love thinking about UX, but my visual design aesthetic is limited. I can usually make things work by sticking to simple palettes and layouts.</p>
  </article>

  <article class='resume-section'>
    <h2>Operations</h2>
    <p>
      I wouldn't define myself as an operations or sys admin person, but I've been thrown into the deep-end a few times by benevolent dictators. The result is that I can install an OS and provision a machine to run web apps or other processes. I understand the appeal of Docker, but I've never shipped it to production. I'm also familiar (but not proficient) with the challenges that come with scaling an app from a single node to multiple. I've been through enough Infosec reviews to not be completely green there either.
    </p>
  </article>

  <article class='resume-section'>
    <h2>Management</h2>
    <p>
      I like the Scrum approach of resetting expectations every 2 weeks and have helped my team get started with it. I've contributed to projects where someone else called the shots, and I've started and maintained projects by myself. I appreciate the effort it takes to manage a project--for both communicating with customers and management and designing roadmaps for team members.
    </p>
  </article>
</section>

<article>
  <h1>Future</h1>
  <p>
    I am not looking for new opportunities right now (in the sense that I don't want to set off any alarms at my current job), but I'm always interested to see where I can make the best use of skills & experience. If I <em>were</em> to leave Apple, it would be for one of these things:
    <ol>
      <li>A long term mission that keeps me up at night</li>
      <li>A team that cares about their work and has high amount of energy</li>
      <li>A salary that is much higher than my current one</li>
    </ol>
  </p>
</article>
