---
title: Today I Learned (TIL)
---

I learn best by [asking a lot of bad questions][1] until I find good questions
to ask. This is basically how I got through college without reading textbooks.
Anyway, here's some stuff I've learned.

<div class="post-group">
  <%= partial 'partials/list', locals: { posts: posts_for_category('til') } %>
</div>


[1]: http://localhost:4567/blog/2017/02/the-5-stages-of-asking-questions
