<article>
  <h1 class='h__underlined'>Skills & Experience</h1>
  <section class='fx-wrap fx-wrap'>

    <div class='resume-section'>
      <h2>Ruby</h2>
      <p>
        I like Ruby land. I've mostly designed JSON APIs in Rails, but I have some full stack Rails apps under my belt also. I use a lot of non-Rails service classes, so you could say that I'm comfortable with Ruby <em>off</em> Rails, but most of my work involves the web in some way, so it doesn't make sense <em>not</em> to use Rails. I've written a lot of RSpec tests, but I know I don't pay too much attention to the speed of my test suite. Many times, even when driving work through tests, I'm writing tests as quickly and thoroughly as I can and not paying attention to how fast they are.
      </p>
    </div>

    <div class='resume-section'>
      <h2>Javascript</h2>
      <p>
        I can do basic DOM manipulation and I can work with a framework (most experienced with Ember.js), but I've never thought about writing a framework and doubt I could. I've used Node.js for a continuous deployment tool I built, but I haven't really wrapped my head around pipes and streams, which seem to be the core tenets of the environment. Callbacks still confuse me (especially when writing tests), but I'm much more comfortable with using promises.
      </p>
    </div>

    <div class='resume-section'>
      <h2>Automation</h2>
      <p>
        I wouldn't define myself as an operations or sys admin person, but I've been thrown into the deep-end a few times by benevolent dictators. The result is that I can install an OS and provision a machine to run web apps or other processes. I understand the appeal of Docker, but I've never shipped it to production. I'm also familiar (but not proficient) with the challenges that come with scaling an app from a single node to multiple. I've been through enough Infosec reviews to not be completely green there either.
      </p>
    </div>

    <div class='resume-section'>
      <h2>Design</h2>
      <p>
        I have purchsed licenses for both Sketch and Balsamiq. I like wireframing, but find it time consuming and I find that I can try out solutions and flows in HTML/CSS faster. I've never tried designing an icon or anything, but I've created small apps from scratch with different design and find that I can recognize good and bad design consistently, if not create it. On the visual side, I'm terrible with colors, but if I limit myself to simplicity, I can often (not always) produce something that looks and feels okay.
      </p>
    </div>

    <div class='resume-section'>
      <h2>Management</h2>
      <p>
        I like the Scrum approach of resetting expectations every 2 weeks and have helped my team get started with it. I've contributed to projects where someone else called the shots, and I've started and maintained projects by myself. I appreciate the effort it takes to manage a project--for bothcommunicating with customers and management and designing roadmaps for team members.
      </p>
    </div>
  </section>
</article>

<article>
  <h1>Future</h1>
  <section>
    <p>
      I am not looking for new opportunities right now (in the sense that I don't want to set off any alarms at my current job), but I'm always interested to see where I can make the best use of skills & experience. If I <em>were</em> to leave Apple, it would be for one of these things:
      <ol>
        <li>A long term mission that keeps me up at night</li>
        <li>A team that cares about their work and has high amount of energy</li>
        <li>A salary that is much higher than my current one</li>
      </ol>
    </p>
  </section>
</article>
